.content {
    display: flex;
    align-items: center;
    /* This centers the layout used with the flexbox to align the items in the middle of the container along the main axis. */
    justify-content: center;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 10px; 
}


.join {
    /*This is turns the HTML container into a flex box that makes it easier to space out and organize things inside a container.*/ 
    display: flex; 
    /* This tells which way to line up items inside the container */
    flex-direction: column; 
    width: 100%
}
.create-btn {
    width: 100%
}

.message-box {
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    /* vh stands for vertical height */
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* vw stands for vertical width */
    width: 80vw ;
    /* This makes the items inside the container to stretch out and fill the entire height of that container */
    align-items: stretch;
}

.messages {
    /* This allows for the messages to be scrollable if the texts exceed the height of the div box */
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs {
    padding: 10px;
    display: flex;
}

h2{
    text-align: center;
}

#message {
    flex: 1;
}

.text{
    display: flex; 
    flex-direction: row;
    align-items : center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted {
    font-size : 10px;
    color: darkgray;
}