{%extends 'base.html'%}
{%block content%}
<div class="message-box">
    <h2>Chat Room: {{code}}</h2>
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input type="text" row="3" placeholder="Message" name "message" id="message"/>
        <button type="button" name="send" id="send-btn" onClick="sendMessage()">
            Send
        </button>
    </div>
</div>
<script type="text/javascript">
    var socketio = io(); 

    const messages = document.getElementById("messages")

    const createMessage = (name, msg) => { 
        // The below ` ` is for the conversion into html code for the message box 
        const content = ` 
        <div>
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
            <span class="muted">
                ${new Date().toLocaleString()} <!-- This is for the time of the message sent -->
                <!-- The above code is the time that the message is recieved and there is a better way to make it be; when you refresh the page the time recived will be updated to the time refreshed. -->
            </span>
        </div>
        `;
        messages.innerHTML += content; 
    };
    socketio.on("message", (data) => {
        createMessage(data.name, data.message);
    })
    const sendMessage = () => {
        const message = document.getElementById("message")
        if (message.value == "") return;
        socketio.emit("message", {data: message.value})
        message.value = "";
    };
</script>
<!-- The code below is for getting back the message history when the reload button is pressed-->
{% for msg in messages %}
<script type="text/javascript">
    createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %}
{%endblock%}